@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --light-gray: hsl(204, 43%, 93%);
  --light-gray-transparence: hsla(203, 44%, 93%, 0.5);
  --cyan: hsl(179, 62%, 43%);
  --dark-cyan: hsl(179, 53%, 40%);
  --bright-yellow: hsl(71, 73%, 54%);
  --grayish-blue: hsl(218, 22%, 67%);
  --padding: 35px;
  --radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Karla", serif;
  font-weight: 400;
  list-style: none;
  font-size: 16px;
}

.title-spacing {
  margin-bottom: 15px;
}

.subtitle-spacing {
  margin-bottom: 10px;
}

.transparence {
  color: var(--light-gray-transparence);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

.box {
  width: 650px;
  height: 470px;
  box-shadow: 0px 0px 50px 1px var(--grayish-blue);
  border-radius: var(--radius);
}

header {
  height: 45%;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

header h1 {
  color: var(--cyan);
  font-weight: 700;
  font-size: 22px;
}

header h3 {
  color: var(--bright-yellow);
  font-weight: 700;
}

header li {
  color: var(--grayish-blue);
  margin-bottom: 5px;
}

main {
  height: 55%;
  display: flex;
}

main div {
  width: 50%;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main div:nth-child(1) {
  background-color: var(--dark-cyan);
  border-bottom-left-radius: var(--radius);
}

main div:nth-child(2) {
  background-color: var(--cyan);
  border-bottom-right-radius: var(--radius);
}

main h2 {
  color: var(--light-gray);
  font-weight: 700;
  font-size: 18px;
}

main p {
  color: var(--light-gray);
  display: flex;
  align-items: center;
}

.number {
  color: var(--light-gray);
  margin-right: 20px;
  font-size: 35px;
  font-weight: 700;
}

.info {
  font-weight: 300;
}

main button {
  background-color: var(--bright-yellow);
  color: var(--light-gray);
  font-weight: 700;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: var(--radius);
  box-shadow: 0px 0px 50px 3px gray;
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

main li {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .title-spacing {
    margin-bottom: 20px;
  }  

  .subtitle-spacing {
    margin-bottom: 15px;
  } 
  
  body {
    align-items: baseline;
    height: 100%;
  }

  .box {
    width: 80%;
    height: 80%;
    margin: 50px 0;
  }

  header {
    display: block;
    width: 100%;
    height: auto;
    padding: calc(var(--padding)/1.5);
    line-height: 20px;
  }

  header h1 {
    font-size: 18px;
  }

  header h3 {
    font-size: 14px;
  }

  header li {
    font-size: 14px;
  }

  main {
    display: block;
  } 

  main div {
    width: auto;
    height: auto;
    padding: calc(var(--padding)/1.2);
  }
  
  main div:nth-child(1) {
    background-color: var(--dark-cyan);
    border-radius: 0;
  }
  
  main div:nth-child(2) {
    background-color: var(--cyan);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
  
  main h2 {
    font-size: 16px;
  }
  
  main p {
    font-size: 14px;
  }   

  .number {
    font-size: 30px;
    margin-right: 10px;
  }

  button {
    font-size: 14px;
  }

  .transparence {
    font-size: 14px;
  }

  .info {
    font-size: 14px;
  }

}